.buzz-details-main-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* justify-content: center; */
  justify-content: flex-start;
  overflow: hidden;
  background-color: #15202B;
  color: white;
  width: 100%;
}

.buzz-details-left-container {
  display: flex;
  /* width: 100%; */
  width: 50%;
}

.buzz-details-mid-container {
  width: 100%;
  border-left: thin solid white;
  word-break: break-all
}

.specific-buzz {
  display: flex;
  border: 0.5px solid white;
  border-top: none;
  border-width: thin;
  color: white;
  padding: 2em 2em 1em 2em;
  justify-content: space-between;
}

.buzz-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-start;
}

.buzz-username {
  color: white;
}

.buzz-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.single-buzz-img {
  display: flex;
  max-width: 250px;
  max-height: auto;
}

.right-info {
  display: flex;
  padding: 1em 2em;
}

.edit-buzz-button {
  cursor: pointer;
}

.delete-buzz-button {
  cursor: pointer;
}

.comments-for-single-buzz {
  border: thin solid white;
}

.buzz-details-right-container {
  border-left: thin solid white;
  /* width: 100%; */
  width: 50%;
}
