.buzzes-container {
  display: flex;
  flex-direction: column-reverse;
  border: 0.5px solid white;
  color: white;
  overflow-x: hidden;
}

.single-buzz {
  border: 0.5px solid white;
  border-width: thin;
  color: white;
  padding: 1em 2em;
}

.single-buzz-img {
  max-width: 250px;
  max-height: auto;
}

.single-buzz-content-and-image {
  color: white;
}

.buzz-pfp {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2em;
}
 .buzz-content {
  margin-bottom: 1em;
 }
