.single-buzz {
  border: 0.5px solid gray;
  border-width: thin;
  color: white;
  padding: 1em 2em;
  word-break: break-all
}

.heart-info-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10em;
}

.tweet.icon {
  width: 2em;
  cursor: pointer;
}

.user-and-options-container {
  display: flex;
  justify-content: space-between;
}

.buzz-options-button {
  background: none
}
