.comment-form-container {
  border: thin solid white;
  margin: 1em 1em;
  word-break: break-all;
  padding: 1em 1em;
}

.list-comments {
  display: flex;
  flex-direction: column-reverse;
  word-break: break-all
}

.single-comment {
  display: flex;
  border: thin solid white;
  margin: 1em 1em;
  padding: 1em 1em;
  word-break: break-all;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
