.edit-buzz-form {
  display: flex;
  margin: 1em;
  align-items: center;
  flex-direction: column;
}

.buzz-delete-option {
  padding-left: 41px;
  cursor: pointer;
  border: thin solid;
  padding: 10px;
  background-color: #1DA1F2;
  color: white;
  border-radius: 30px;
}
