.homepage-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #15202B;
  color: white;
  width: 100%;
}

.homepage-left-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.homepage-mid-container {
  overflow-y: scroll;
  width: 100%;
}

.homepage-right-container {
  /* width: 100%; */
  width: 50%;
}

.homepage-mid-container::-webkit-scrollbar {
  width: 8px;
}

.homepage-mid-container::-webkit-scrollbar-track {
  background: #2E3338;
  border-radius: 20px;
}

.homepage-mid-container::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 20px;
}

.right-content {
  padding: 1em 2em;
}
