.logout-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color:white;
  cursor:pointer;
  font-size: 18px;
}

.logout-button:hover{
  color:white;
  cursor:pointer;
}

.fa-arrow-right-from-bracket {
  /* font-size: 44px; */
  font-size: 30px;
}

