.left-nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.buzzer-icon {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.951);
  width: 227px;
  height: 47px;
  font: 14px;
}

.current-user-container {
  display: flex;
  align-items: center;
  margin: 1em 3em;
}

.user-pfp {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}

.current-user-username {
  padding: 1em 1em;
  font-size: 17px;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  margin-right: 3em;
}

.bee-img {
  margin: 1em 1em;
}

.logout-button-component {
  margin: 1em 1em;
}
