.left-nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.buzzer-icon {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}


.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.951);
  width: 227px;
  height: 47px;
  font: 14px;
}

.current-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

.user-pfp {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}

.current-user-username {
  padding: 1em 1em;
  font-size: 17px;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  height: 25em;
  align-items: flex-start;
  /* justify-content: space-around; */
  padding-left: 30%;
  padding-top: 10%;
}

.home-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 10px 20px;
}

.linkedin-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 10px 20px;
}

.github-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 10px 20px;
}

.home-link:hover {
  border-radius: 30px;
  background-color: rgba(93, 92, 92, 0.5);
}

.linkedin-link:hover {
  border-radius: 30px;
  background-color: rgba(93, 92, 92, 0.5);
}

.github-link:hover {
  border-radius: 30px;
  background-color: rgba(93, 92, 92, 0.5);
}

.fa-linkedin-in {
  font-size: 30px;
}

.fa-github {
  font-size: 30px;
}

.logout-button-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.link-description {
  padding-left: 10px;
  cursor: pointer;
  font-size: 20px;
  padding-left: 20px;
}

.current-user-container-outer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
