.left-nav {
  /* border: .5px solid white; */
  background-color: #15202B;
  border-width: thin;
}

.buzzer-icon {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.951);
  width: 227px;
  height: 47px;
  font: 14px;
}
