/* TODO Add site wide styles */
body {
  /* background-color: #15202B; */
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* color: rgba(255, 255, 255, 0.951); */
}

a:visited {
  text-decoration: none;
  color: black;
 }

a {
  text-decoration: none;
  color: black;
}
